In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('alumnos.csv')

In [3]:
df.head()

      nombre  altura  peso  edad sexo
0       Hugo    1.67    60    23    h
1       Paco    1.73    83    25    h
2       Luis    1.62    70    28    h
3      Diana    1.58    58    21    m
4  Francisco    1.86    98    28    h

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.columns

Index(['nombre', 'altura', 'peso', 'edad', 'sexo'], dtype='object')

In [7]:
df['altura'] #esto es una serie

0     1.67
1     1.73
2     1.62
3     1.58
4     1.86
5     1.79
6     1.69
7     1.60
8     1.60
9     1.98
10    1.72
11    1.63
12    1.73
13    1.62
14    1.58
15    1.86
16    1.79
17    1.60
18    1.98
19    1.72
20    1.58
Name: altura, dtype: float64

In [10]:
type(df.altura),type(df['altura'])

(pandas.core.series.Series, pandas.core.series.Series)

In [18]:
df.iloc[1,:] #de la posicion 1, trae todos los elementos

nombre    Paco
altura    1.73
peso        83
edad        25
sexo         h
Name: 1, dtype: object

In [19]:
df['sexo'].index

RangeIndex(start=0, stop=21, step=1)

In [20]:
df['sexo'].values

array(['h', 'h', 'h', 'm', 'h', 'h', 'm', 'h', 'm', 'h', 'm', 'm', 'm',
       'h', 'h', 'm', 'h', 'm', 'h', 'h', 'm'], dtype=object)

In [21]:
peso_alumnos = df['sexo']

In [22]:
#variables cualitativas, nominales atributos no jerarquizados, ordinal = cada numero representa un numero jerarquizado

In [23]:
#momentos estadisticos
#medidas de tendencia central, resumen aquel numero que describen a la variable
#medidas de dispersion, que tan lejos estan de la media
#medidas de sesgo, que tan dispersas estan los valores
#medidas de kurtosis, altura de la distirbucion respecto al centro

In [30]:
for colname, serie in df.iteritems():
    #print ('colname: ' +colname)
    if serie.dtype == 'object':
        print( colname)

nombre
sexo

In [33]:
for rowname , serie in df.iterrows():
    print ('rowname: ' + str(serie))

rowname: nombre    Hugo
altura    1.67
peso        60
edad        23
sexo         h
Name: 0, dtype: object
rowname: nombre    Paco
altura    1.73
peso        83
edad        25
sexo         h
Name: 1, dtype: object
rowname: nombre    Luis
altura    1.62
peso        70
edad        28
sexo         h
Name: 2, dtype: object
rowname: nombre    Diana
altura     1.58
peso         58
edad         21
sexo          m
Name: 3, dtype: object
rowname: nombre    Francisco
altura         1.86
peso             98
edad             28
sexo              h
Name: 4, dtype: object
rowname: nombre    Felipe
altura      1.79
peso         100
edad          26
sexo           h
Name: 5, dtype: object
rowname: nombre    Jacinta
altura       1.69
peso           62
edad           20
sexo            m
Name: 6, dtype: object
rowname: nombre    Bernardo
altura         1.6
peso            83
edad            31
sexo             h
Name: 7, dtype: object
rowname: nombre    Marisol
altura        1.6
peso           56
edad           30
sexo            m
Name: 8, dtype: object
rowname: nombre    Facundo
altura       1.98
peso          112
edad           36
sexo            h
Name: 9, dtype: object
rowname: nombre    Trinidad
altura        1.72
peso            72
edad            21
sexo             m
Name: 10, dtype: object
rowname: nombre    Camila
altura      1.63
peso          57
edad          26
sexo           m
Name: 11, dtype: object
rowname: nombre    Macarena
altura        1.73
peso            68
edad            27
sexo             m
Name: 12, dtype: object
rowname: nombre    Diego
altura     1.62
peso         78
edad         23
sexo          h
Name: 13, dtype: object
rowname: nombre    Gonzalo
altura       1.58
peso           67
edad           22
sexo            h
Name: 14, dtype: object
rowname: nombre    Alejandra
altura         1.86
peso             74
edad             21
sexo              m
Name: 15, dtype: object
rowname: nombre    Fernando
altura        1.79
peso            93
edad            27
sexo             h
Name: 16, dtype: object
rowname: nombre    Carolina
altura         1.6
peso            63
edad            28
sexo             m
Name: 17, dtype: object
rowname: nombre    Vicente
altura       1.98
peso          102
edad           31
sexo            h
Name: 18, dtype: object
rowname: nombre    Benjam√≠n
altura        1.72
peso            78
edad            36
sexo             h
Name: 19, dtype: object
rowname: nombre    Gloria
altura      1.58
peso          65
edad          23
sexo           m
Name: 20, dtype: object

In [36]:
df[df['sexo'] == 'm']['nombre']

3         Diana
6       Jacinta
8       Marisol
10     Trinidad
11       Camila
12     Macarena
15    Alejandra
17     Carolina
20       Gloria
Name: nombre, dtype: object