Felipe-Veloso-act5.zip

In [1]:
import pandas as pd
import numpy as np

# Desafío 1: Lectura de archivos

In [2]:
df = pd.read_csv("worldcup2014.csv");
df.head(5)

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
1,Mexico,northamerica,A,2,3,2,1,0,4,1,3,7,1
2,Croatia,europe,A,3,3,1,0,2,6,6,0,3,0
3,Cameroon,africa,A,4,3,0,0,3,1,9,−8,0,0
4,Netherlands,europe,B,1,3,3,0,0,10,3,7,9,1

# Desafío 2: Estime las frecuencias de continent

In [3]:
df["continent"].value_counts()
# continente europe tiene mayor presencia

europe          13
southamerica     6
africa           5
northamerica     4
asia             4
Name: continent, dtype: int64

In [9]:
#Probabilidad de encontrar un equipo asiatico es 0.12500 y uno africano es de 0.15625
df["continent"].value_counts('%',dropna=False)

europe          0.40625
southamerica    0.18750
africa          0.15625
northamerica    0.12500
asia            0.12500
Name: continent, dtype: float64

In [20]:
print("Continente mayor presencia: "+ str(df["continent"].value_counts('%',dropna=False).idxmax()))

Continente mayor presencia: europe

# Desafío 3: Probabilidades por continente

In [133]:
df_europe = df[df["continent"] == "europe"]
df_southamerica = df[df["continent"] == "southamerica"]
df_africa = df[df["continent"] == "africa"]
df_northamerica = df[df["continent"] == "northamerica"]
df_asia = df[df["continent"] == "asia"]
df_southamerica

,team,continent,group,group_pos,cantidad_juegos,juegos_ganados,juegos_empatados,juegos_perdidos,goles_favor,goles_contra,goles_diferencia,puntos,clasificado
0,Brazil,southamerica,A,1,3,2,1,0,7,2,5,7,1
5,Chile,southamerica,B,2,3,2,0,1,5,3,2,6,1
8,Colombia,southamerica,C,1,3,3,0,0,9,2,7,9,1
13,Uruguay,southamerica,D,2,3,2,0,1,4,4,0,6,1
18,Ecuador,southamerica,E,3,3,1,1,1,3,3,0,4,0
20,Argentina,southamerica,F,1,3,3,0,0,6,3,3,9,1

# Desafío 4: Calcule la probabilidad de clasificación a la siguiente ronda

In [61]:
#datos = [df_europe.to_dict(),df_southamerica.to_dict(),df_africa.to_dict(),df_northamerica.to_dict(),df_asia.to_dict()]
datos = [df_europe,df_southamerica,df_africa,df_northamerica,df_asia]

In [91]:
for x in datos:
    cont = x['continent'].unique()
    prob = x['clasificado'].value_counts(dropna=False)/len(df[df['clasificado'] == 1])
    print (cont,prob.get(1,0))

['europe'] 0.375
['southamerica'] 0.3125
['africa'] 0.125
['northamerica'] 0.1875
['asia'] 0

La probabilidad de que un pais asiatico pase a la sgte ronda es 0%
Los continenetes con mayor posibilidad de clasificar son, europa = 0,375 southamerica con 0,3125

# Desafío 5: Refactorización

In [147]:
for d in [df_africa, df_europe, df_asia, df_northamerica,df_southamerica]:
    continente = d['continent'].unique()
    test = pd.Series(np.where(d['juegos_ganados'] >= 1,1,0))
    df_refact = test.value_counts('%')
    print(continente,df_refact.get(1,0))

['africa'] 0.6
['europe'] 0.8461538461538461
['asia'] 0
['northamerica'] 0.75
['southamerica'] 1.0

El continente con mayor posibilidad de ganar juegos es SouthAmerica con un 100% de partidos ganados \n
El continente de africa tuvo el mayor equilibrio