In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import glob
import os

warnings.simplefilter('ignore')
plt.rcParams['figure.figsize'] = (15,12)
plt.style.use('seaborn')

In [6]:
df = pd.read_csv('training_tweets.csv').drop(columns='Unnamed: 0')

In [7]:
df.head()

                                             content  sentiment
0                    Happy Mama's day to all mothers       love
1  @LysdelTellez I am lost. Please help me find a...      worry
2  @BoomKatt yes yes I AM, networking whore to th...  happiness
3  you@snapplynn Wish that would have been your t...    neutral
4  now i am doing the MicroEconomics project  iha...      worry

In [5]:
import nltk 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/feedingthemachine/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
# instanciamos un objeto
count_vectorizer=CountVectorizer(stop_words='english', max_features=5000)
# Implementamos los pasos fit y transform
count_vectorizer_fit = count_vectorizer.fit_transform(df.content)
# Extraemos tokens (palabras)
words = count_vectorizer.get_feature_names()
# extraemos frecuencia
words_freq = count_vectorizer_fit.toarray().sum(axis=0)

df_words = pd.DataFrame({'Word':words, 'Frec':words_freq})

top5000 = df_words.sort_values(by='Frec', ascending=False)

In [10]:
top5000

              Word  Frec
1176           day  2403
2363          just  2369
1867          good  1736
2561          like  1444
3519          quot  1399
2142          http  1398
4433         today  1269
2655          love  1245
4890          work  1240
1879           got  1236
1858         going  1163
1987         happy  1135
2622           lol  1078
4413          time  1057
923            com  1042
2436          know  1018
2191            im   982
3560        really   979
1346           don   940
229            amp   894
3017         night   827
4369         think   819
2096          home   799
4348        thanks   775
3002           new   774
4756          want   768
2600            ll   762
3107            oh   748
2844          miss   676
2902       morning   661
...            ...   ...
2479        laterz     4
3138           oot     4
1301     discovery     4
4468          tops     4
4430           tmw     4
4473          toss     4
4482       tourist     4
955        complex     4
4491        trader     4
4492     tradition     4
4493   traditional     4
3143     operation     4
3146         oprah     4
4375         thnks     4
2502            lc     4
2509        leaked     4
2508        league     4
4380          thou     4
4384        thread     4
2506    leadership     4
2503            le     4
3158        otalia     4
2487      laughter     4
2501           lbs     4
1007        cooker     4
3152      ordering     4
692        cadbury     4
2492  laurenconrad     4
693       cadistra     4
4205        superb     4

[5000 rows x 2 columns]