# Felipe Veloso Desafío 1: Determinantes del ingreso

Los dos enunciados deben estar clarificados, considerando el tipo de problema a resolver (regresión o clasificación). Para cada uno de los enunciados y su problema identificado, se debe justificar el uso de métricas para medir el desempeño del problema. (3 puntos)

    Para este dataset, tenemos como objetivo analizar las dinamicas socioeconomicas que determinan la desigualdad de ingresos con el fin de erradicar la pobreza.
    
    Se necesita modelar sobre las posibilidades de tener un salario >= 50k o <50k, cuyas caracteristicas nos permiten poder utilizar una regresion logistica ya que deseamos actualmente analizar de manera binaria

Se debe considerar el uso de las librerías asociadas para la ingesta, preprocesamiento, visualización y modelación, así como métricas de evaluación. (1 punto)

In [4]:
import warnings
warnings.filterwarnings('ignore')
#Librerias para filtrar warnings
import pandas as pd
import numpy as np
#Libreria de analisis numerico
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
plt.rcParams['figure.figsize'] = (10, 6)
#librerias de graficos
from scipy import stats
#Librerias estadisticas
import statsmodels.api as sm
import statsmodels.formula.api as smf
#librerias de estadsitica aplicada


from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import LeaveOneOut
from sklearn.preprocessing import PolynomialFeatures
#Librerias espeficias para regresion logistica, su validadion, presicion y evaluar su eficacia.
#Pueden faltar librerias para temas mas especificos y al a vez librerias util que permitan funciones adicionales
from functions import printUniques , replaceAll

Se debe detallar y considerar el proceso de preprocesamiento y recodificación de datos. (1
punto)

Se revisa superficialmente la bbdd para entender el tipo de separacion de los datos para evitar conflictos en su importacion

Se eliminan todas las variables ? (dado que esta sugerido) y se reemplazan por un NA

Al exitir informacion incompleta, antes de comenzar a eliminar data faltante (que posiblemente afecte nuestro modelo) se estandarizan los campos ( se crea una funcion que nos entrega todos nuestros parametros unicos para estar con certeza cuales aplican y cuales no)

Se reparan variables mal ingresadas para mejorar la facilidad de calculo, tambien se validaron con una funcion de obtencion de unicos.

Se aplica funcion replace con la informacion recopilada y la sugerida, a la vez se modifican los nombres de las columnas

In [5]:
df = pd.read_csv('income-db.csv')
df_filter = df

In [6]:
printUniques(df,df.columns.values)

age [25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54
 32 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79
 73 53 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88
 87 86]
workclass ['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
fnlwgt [226802  89814 336951 ... 129912 255835 257302]
education ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']
educational-num [ 7  9 12 10  6 15  4 13 14 16  3 11  5  8  2  1]
marital-status ['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']
occupation ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']
relationship ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
race ['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
gender ['Male' 'Female']
capital-gain [    0  7688  3103  6418  7298  3908 14084  5178 15024 99999  2597  2907
  4650  6497  1055  5013 27828  4934  4064  3674  2174 10605  3418   114
  2580  3411  4508  4386  8614 13550  6849  2463  3137  2885  2964  1471
 10566  2354  1424  1455  3325  4416 25236   594  2105  4787  2829   401
  4865  1264  1506 10520  3464  2653 20051  4101  1797  2407  3471  1086
  1848 14344  1151  2993  2290 15020  9386  2202  3818  2176  5455 11678
  7978  7262  6514 41310  3456  7430  2414  2062 34095  1831  6723  5060
 15831  2977  2346  3273  2329  9562  2635  4931  1731  6097   914  7896
  5556  1409  3781  3942  2538  3887 25124  7443  5721  1173  4687  6612
  6767  2961   991  2036  2936  2050  1111  2228 22040  3432  6360  2009
  1639 18481  2387]
capital-loss [   0 1721 1876 2415 1887  625 1977 2057 1429 1590 1485 2051 2377 1672
 1628 1902 1602 1741 2444 1408 2001 2042 1740 1825 1848 1719 3004 2179
 1573 2205 1258 2339 1726 2258 1340 1504 2559 1668 1974 1980 1564 2547
 2002 1669 1617  323 3175 2472 2174 1579 2129 1510 1735 2282 1870 1411
 1911 1651 1092 1762 2457 2231 2238  653 1138 2246 2603 2392 1944 1380
 2465 1421 3770 1594  213 2149 2824 1844 2467 2163 1816 1648 2206 2352
  419 1539  880  810  974 4356 2489 1755 3683 2267 2080  155 3900 2201
 2754]
hours-per-week [40 50 30 32 10 39 35 48 25 20 45 47  6 43 90 54 60 38 36 18 24 44 56 28
 16 41 22 55 14 33 37  8 12 70 15 75 52 84 42 80 68 99 65  5 17 72 53 29
 96 21 46  3  1 23 49 67 76  7  2 58 26 34  4 51 78 63 31 92 77 27 85 13
 19 98 62 66 57 11 86 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95]
native-country ['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']
income ['<=50K' '>50K']

In [7]:
df_filter = replaceAll(df_filter,'?','NA')
df_filter = replaceAll(df_filter,['Exec-managerial','Prof-specialty','Adm-clerical','Sales','Tech-support'],'white-collar')
df_filter = replaceAll(df_filter,['Craft-repair','Machine-op-inspct','Transport-moving','Handlers-cleaners','Farming-fishing','Protective-serv','Priv-house-serv'],'blue-collar')
df_filter = replaceAll(df_filter,['Other-service','Armed-Forces'],'others')
df_filter = replaceAll(df_filter,['Federal-gov'],'federal-gov')
df_filter = replaceAll(df_filter,['State-gov','Local-gov'],'state-level-gov' )
df_filter = replaceAll(df_filter,['Self-emp-inc','Self-emp-not-inc'],'self-employ' )
df_filter = replaceAll(df_filter,['Never-worked','Without-pay'],'unemployed' )
df_filter = replaceAll(df_filter,['Preschool'],'preschool')
df_filter = replaceAll(df_filter,['1st-4th','5th-6th'],'elementary-school')
df_filter = replaceAll(df_filter,['7th-8th','9th','10th','11th','12th','HS-grad'],'high-school')
df_filter = replaceAll(df_filter,['Assoc-voc','Assoc-acdm','Some-college'],'college')
df_filter = replaceAll(df_filter,['Bachelors','Masters','Prof-school','Doctorate'],'university')
df_filter = replaceAll(df_filter,['Married-civ-spouse','Married-spouse-absent','Married-AF- spouse'],'married' )
df_filter = replaceAll(df_filter,['Divorced'],'divorced')
df_filter = replaceAll(df_filter,['Separated'],'separated')
df_filter = replaceAll(df_filter,['Widowed'],'widowed')
df_filter = replaceAll(df_filter,['United-States','Mexico','Puerto-Rico','Canada','El-Salvador','Cuba','Jamaica','Dominican-Republic','Guatemala','Columbia','Haiti','Nicaragua','Peru','Ecuador','Trinadad&Tobago','Outlying-US(Guam-USVI-etc)','Honduras'],'America')
df_filter = replaceAll(df_filter,['England','Portugal','Italy','Germany','Poland','Greece','Ireland','France','Scotland','Yugoslavia','Hungary','Holand-Netherlands'],'Europe')
df_filter = replaceAll(df_filter,['Philippines','India','China','Japan','South','Vietnam','Iran','Taiwan','Thailand','Hong','Cambodia','Laos'],'Asia')

In [8]:
df_filter

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,high-school,7,Never-married,blue-collar,Own-child,Black,Male,0,0,40,America,<=50K
1,38,Private,89814,high-school,9,married,blue-collar,Husband,White,Male,0,0,50,America,<=50K
2,28,state-level-gov,336951,college,12,married,blue-collar,Husband,White,Male,0,0,40,America,>50K
3,44,Private,160323,college,10,married,blue-collar,Husband,Black,Male,7688,0,40,America,>50K
4,18,NA,103497,college,10,Never-married,NA,Own-child,White,Female,0,0,30,America,<=50K
5,34,Private,198693,high-school,6,Never-married,others,Not-in-family,White,Male,0,0,30,America,<=50K
6,29,NA,227026,high-school,9,Never-married,NA,Unmarried,Black,Male,0,0,40,America,<=50K
7,63,self-employ,104626,university,15,married,white-collar,Husband,White,Male,3103,0,32,America,>50K
8,24,Private,369667,college,10,Never-married,others,Unmarried,White,Female,0,0,40,America,<=50K
9,55,Private,104996,high-school,4,married,blue-collar,Husband,White,Male,0,0,10,America,<=50K
10,65,Private,184454,high-school,9,married,blue-collar,Husband,White,Male,6418,0,40,America,>50K
11,36,federal-gov,212465,university,13,married,white-collar,Husband,White,Male,0,0,40,America,<=50K
12,26,Private,82091,high-school,9,Never-married,white-collar,Not-in-family,White,Female,0,0,39,America,<=50K
13,58,NA,299831,high-school,9,married,NA,Husband,White,Male,0,0,35,America,<=50K
14,48,Private,279724,high-school,9,married,blue-collar,Husband,White,Male,3103,0,48,America,>50K
15,43,Private,346189,university,14,married,white-collar,Husband,White,Male,0,0,50,America,>50K
16,20,state-level-gov,444554,college,10,Never-married,others,Own-child,White,Male,0,0,25,America,<=50K
17,43,Private,128354,high-school,9,married,white-collar,Wife,White,Female,0,0,30,America,<=50K
18,37,Private,60548,high-school,9,widowed,blue-collar,Unmarried,White,Female,0,0,20,America,<=50K
19,40,Private,85019,university,16,married,white-collar,Husband,Asian-Pac-Islander,Male,0,0,45,NA,>50K
20,34,Private,107914,university,13,married,white-collar,Husband,White,Male,0,0,47,America,>50K
21,34,Private,238588,college,10,Never-married,others,Own-child,Black,Female,0,0,35,America,<=50K
22,72,NA,132015,high-school,4,divorced,NA,Not-in-family,White,Female,0,0,6,America,<=50K
23,25,Private,220931,university,13,Never-married,white-collar,Not-in-family,White,Male,0,0,43,America,<=50K
24,25,Private,205947,university,13,married,white-collar,Husband,White,Male,0,0,40,America,<=50K
25,45,self-employ,432824,high-school,9,married,blue-collar,Husband,White,Male,7298,0,90,America,>50K
26,22,Private,236427,high-school,9,Never-married,white-collar,Own-child,White,Male,0,0,20,America,<=50K
27,23,Private,134446,high-school,9,separated,blue-collar,Unmarried,Black,Male,0,0,54,America,<=50K
28,54,Private,99516,high-school,9,married,blue-collar,Husband,White,Male,0,0,35,America,<=50K
29,32,self-employ,109282,college,10,Never-married,white-collar,Not-in-family,White,Male,0,0,60,America,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,30,NA,33811,university,13,Never-married,NA,Not-in-family,Asian-Pac-Islander,Female,0,0,99,America,<=50K
48813,34,Private,204461,university,16,married,white-collar,Husband,White,Male,0,0,60,America,>50K
48814,54,Private,337992,university,13,married,white-collar,Husband,Asian-Pac-Islander,Male,0,0,50,Asia,>50K
48815,37,Private,179137,college,10,divorced,white-collar,Unmarried,White,Female,0,0,39,America,<=50K
48816,22,Private,325033,high-school,8,Never-married,blue-collar,Own-child,Black,Male,0,0,35,America,<=50K
48817,34,Private,160216,university,13,Never-married,white-collar,Not-in-family,White,Female,0,0,55,America,>50K
48818,30,Private,345898,high-school,9,Never-married,blue-collar,Not-in-family,Black,Male,0,0,46,America,<=50K
48819,38,Private,139180,university,13,divorced,white-collar,Unmarried,Black,Female,15020,0,45,America,>50K
48820,71,NA,287372,university,16,married,NA,Husband,White,Male,0,0,10,America,>50K
48821,45,state-level-gov,252208,high-school,9,separated,white-collar,Own-child,White,Female,0,0,40,America,<=50K
48822,41,NA,202822,high-school,9,separated,NA,Not-in-family,Black,Female,0,0,32,America,<=50K
48823,72,NA,129912,high-school,9,married,NA,Husband,White,Male,0,0,25,America,<=50K
48824,45,state-level-gov,119199,college,12,divorced,white-collar,Unmarried,White,Female,0,0,48,America,<=50K
48825,31,Private,199655,university,14,divorced,others,Not-in-family,Other,Female,0,0,30,America,<=50K
48826,39,state-level-gov,111499,college,12,married,white-collar,Wife,White,Female,0,0,20,America,>50K
48827,37,Private,198216,college,12,divorced,white-collar,Not-in-family,White,Female,0,0,40,America,<=50K
48828,43,Private,260761,high-school,9,married,blue-collar,Husband,White,Male,0,0,40,America,<=50K
48829,65,self-employ,99359,university,15,Never-married,white-collar,Not-in-family,White,Male,1086,0,60,America,<=50K
48830,43,state-level-gov,255835,college,10,divorced,white-collar,Other-relative,White,Female,0,0,40,America,<=50K
48831,43,self-employ,27242,college,10,married,blue-collar,Husband,White,Male,0,0,50,America,<=50K
48832,32,Private,34066,high-school,6,married,blue-collar,Husband,Amer-Indian-Eskimo,Male,0,0,40,America,<=50K
48833,43,Private,84661,college,11,married,white-collar,Husband,White,Male,0,0,45,America,<=50K
48834,32,Private,116138,university,14,Never-married,white-collar,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Asia,<=50K
48835,53,Private,321865,university,14,married,white-collar,Husband,White,Male,0,0,40,America,>50K
48836,22,Private,310152,college,10,Never-married,blue-collar,Not-in-family,White,Male,0,0,40,America,<=50K
48837,27,Private,257302,college,12,married,white-collar,Wife,White,Female,0,0,38,America,<=50K
48838,40,Private,154374,high-school,9,married,blue-collar,Husband,White,Male,0,0,40,America,>50K
48839,58,Private,151910,high-school,9,widowed,white-collar,Unmarried,White,Female,0,0,40,America,<=50K
48840,22,Private,201490,high-school,9,Never-married,white-collar,Own-child,White,Male,0,0,20,America,<=50K
48841,52,self-employ,287927,high-school,9,married,white-collar,Wife,White,Female,15024,0,40,America,>50K