- Una sección llamada __Preliminares__ donde se realiza la descripción del problema y objetivos, así como explicar cómo implementarán su solución. Debe considerar qué criterios de optimización y métricas de desempeño.
- Una sección llamada __Aspectos computacionales__ donde se describirán las librerías y módulos a implementar, así como las funciones generadas y su objetivo.

# __Aspectos computacionales__

Seran añadidos a medida que sean requeridos los diversos import de librerias, no se generaran librerias externas, serin explicitas dentro de este notebook

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import glob
import os
import preproc_nyc_sqf as preproc
import helpers

warnings.simplefilter('ignore')
plt.rcParams['figure.figsize'] = (15,12)
plt.style.use('seaborn')

In [2]:
df = pd.read_csv('2009_1perc.csv').drop(columns='Unnamed: 0')

In [3]:
df.head()

,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,crimsusp,...,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,2009,41,1779,4032009,130,A,O,P,1.0,CPW,...,,41,G,7,,1013067,0238633,CM,1,20
1,2009,108,5805,10292009,1050,A,O,P,3.0,BURG,...,,108,J,,,1012043,0212157,CM,1,14
2,2009,43,8340,10062009,1450,1,O,P,1.0,MISD,...,,43,E,,,1017599,0240200,CM,1,20
3,2009,77,932,1232009,1843,A,O,P,5.0,MIS,...,,77,J,4,35,1002625,0183442,CM,1,24
4,2009,110,11224,12132009,1655,A,O,P,3.0,CPW,...,,110,H,,,1024535,0209890,CM,1,20

In [4]:
df.describe()

,year,pct,ser_num,datestop,timestop,perobs,perstop,compyear,comppct,repcmd,revcmd,dob,age,ht_feet,ht_inch,weight,addrpct,linecm,detailcm
count,5812.0,5812.000000,5812.000000,5.812000e+03,5812.000000,5812.000000,5812.000000,5812.0,5812.0,5812.000000,5812.000000,5.812000e+03,5812.000000,5812.000000,5812.000000,5812.000000,5812.000000,5812.0,5812.000000
mean,2009.0,69.051617,5769.119924,6.255350e+06,1426.219202,2.665893,5.501893,0.0,0.0,252.115795,249.074845,6.941142e+06,28.874054,5.188231,6.414315,169.942533,69.051617,1.0,37.488644
std,0.0,32.846903,5524.955522,3.447243e+06,736.239726,4.816704,5.922592,0.0,0.0,305.058678,306.222306,3.552806e+06,26.067172,0.402213,3.446479,37.653637,32.846903,0.0,25.059538
min,2009.0,1.000000,1.000000,1.012009e+06,0.000000,0.000000,1.000000,0.0,0.0,1.000000,1.000000,1.011900e+06,1.000000,3.000000,0.000000,1.000000,1.000000,1.0,6.000000
25%,2009.0,42.000000,1902.750000,3.172009e+06,1030.000000,1.000000,3.000000,0.0,0.0,70.000000,67.000000,4.061986e+06,19.000000,5.000000,4.000000,150.000000,42.000000,1.0,20.000000
50%,2009.0,73.000000,4347.000000,6.142009e+06,1605.000000,1.000000,5.000000,0.0,0.0,105.000000,103.000000,7.121980e+06,25.000000,5.000000,7.000000,170.000000,73.000000,1.0,28.000000
75%,2009.0,102.000000,7616.750000,9.192009e+06,2035.000000,3.000000,5.000000,0.0,0.0,178.000000,178.750000,1.012198e+07,34.000000,5.000000,9.000000,180.000000,102.000000,1.0,46.000000
max,2009.0,123.000000,31694.000000,1.231201e+07,2830.000000,200.000000,200.000000,0.0,0.0,879.000000,879.000000,1.231199e+07,999.000000,7.000000,11.000000,999.000000,123.000000,1.0,113.000000

In [6]:
df_norm = preproc.create_suitable_dataframe(df)

['year', 'pct', 'ser_num', 'datestop', 'timestop', 'perstop', 'compyear', 'comppct', 'repcmd', 'revcmd', 'dob', 'age', 'ht_feet', 'ht_inch', 'weight', 'addrpct', 'linecm', 'detailcm', 'perobs']

In [11]:
df_norm = pd.DataFrame(df_norm)

In [12]:
df_norm

                                                   0
0       recstat inout trhsloc typeofid explnstp o...
1  [recstat, inout, trhsloc, typeofid, explnstp, ...
2  [year, pct, ser_num, datestop, timestop, perst...