# Felipe Velos Desaf 10

1.-  la confianza de la muestra es del 95%

# 2.- Importe la base de datos utilizada la sesi贸n presencial anterior

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [13]:
df = pd.read_csv('nations 2.csv',sep = ',', encoding='ISO-8859-1')

In [14]:
df.head()

,Unnamed: 0,country,region,gdp,school,adfert,chldmort,life,pop,urban,femlab,literacy,co2,gini
0,1,Algeria,Africa,7300.399902,6.716667,7.300000,34.75,72.316666,34172236,64.933334,0.4522,72.599998,15.0,NaN
1,2,Benin,Africa,1338.800049,3.100000,111.699997,122.75,54.733334,8237634,41.000000,0.8482,41.700001,1.2,NaN
2,3,Botswana,Africa,12307.400391,8.600000,52.099998,60.25,52.250000,1941233,59.250000,0.8870,84.099998,9.2,NaN
3,4,Burkina Faso,Africa,1063.400024,1.300000,124.800003,170.50,53.783333,15308383,23.583334,0.8584,23.600000,0.2,NaN
4,5,Burundi,Africa,349.200012,2.483333,18.600000,168.50,48.866665,7821783,10.250000,1.0344,66.599998,0.1,33.299999

In [16]:
tmp = df.loc[:, ['femlab','literacy','school','region']]

In [24]:
tmp_cat = pd.get_dummies(tmp)
tmp_cat.head()

,femlab,literacy,school,region_Africa,region_Americas,region_Asia,region_Europe,region_Oceania
0,0.4522,72.599998,6.716667,1,0,0,0,0
1,0.8482,41.700001,3.100000,1,0,0,0,0
2,0.8870,84.099998,8.600000,1,0,0,0,0
3,0.8584,23.600000,1.300000,1,0,0,0,0
4,1.0344,66.599998,2.483333,1,0,0,0,0

# 3.- Implemente una funci贸n de prueba de hip贸tesis a mano

In [99]:
def hip_at_hand(dataFrame,variable,binarize):
    region = 'region_' + variable
    num  = binarize
    other = 1
    if(binarize == 1):
        other = 0
    dataFrame['hipotesis'] = np.where(dataFrame[region] == binarize, num , other )
    df_trust = dataFrame.query('hipotesis == 1')[region].dropna()
    no_df_trust = dataFrame.query('hipotesis == 0')[region].dropna()
    print ('trust media ' + str(df_trust.mean()))
    print ('no trust media ' + str(no_df_trust.mean()))
    print ('resta medias ' + str(df_trust.mean() - no_df_trust.mean()))
    
    #stats.ttest_ind(df_trust,no_df_trust)
        
    return stats.ttest_ind(df_trust,no_df_trust)

In [100]:
hip_at_hand(tmp_cat,'Americas',1)

trust media 1.0
no trust media 0.0
resta medias 1.0

Ttest_indResult(statistic=inf, pvalue=0.0)

# 4. Implemente una funci贸n que grafique los histogramas para ambas muestras.

In [ ]:
def hist(dataFrame):
    num  = binarize
    other = 1
    if(binarize == 1):
        other = 0
    dataFrame['hipotesis'] = np.where(dataFrame[region] == binarize, num , other )
    df_trust = dataFrame.query('hipotesis == 1')[region].dropna()
    no_df_trust = dataFrame.query('hipotesis == 0')[region].dropna()