# Felipe Veloso Desafio 12

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-whitegrid')
plt.rcParams['figure.figsize'] = (10,6)

# Desafío 1: Prepare el ambiente de trabajo

In [21]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [17]:
df = pd.read_csv('boston.csv');
df = df.drop('Unnamed: 0' , axis=1)

In [18]:
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

# Desafío 2: División de la muestra

In [19]:
y_vec = df['medv']
X_mat = df.drop('medv', axis=1)

In [22]:
X_train, X_test , y_train , y_test = train_test_split(X_mat ,y_vec,test_size=.33 , random_state=3322)

# Desafío 3: Generación de modelos

In [37]:
norm_model = LinearRegression(fit_intercept=True,normalize=True).fit(X_train,y_train).predict(X_test)

In [41]:
norm_model

array([33.11301423, 16.24645418, 18.19262246, -5.64352315, 21.5323601 ,
       23.03332756, 41.02012272, 20.18293344, 14.27978301, 20.89167895,
       24.793581  , 30.83824004, 28.25114947, 11.57803698, 23.31232912,
       13.92947579, 36.30700399, 16.05992031, 29.80017731, 31.50423742,
       35.74878147, 27.38208921, 18.84246725, 18.90622865, 27.190364  ,
       25.71466841, 30.78327414, 21.32944466,  7.34546802, 20.89339572,
       20.0860902 , 36.69315778, 40.88890736, 37.20714354, 24.03571648,
       12.80652446, 21.15923575, 31.92735963, 42.15207826, 23.8360389 ,
       37.93031347, 22.77261714, 12.32128836, 22.74431323, 27.58400927,
       28.75712158, 19.61698794, 19.28570277, 34.26614384, 14.85075256,
       14.09151393, 13.63847302, 18.89242906, 32.98745893, 15.28683875,
       13.2757103 , 22.45274485,  9.47474366, 16.3782865 , 24.02529003,
       13.92868183, 19.72917157, 16.72992947, 35.55027182, 21.30962533,
       19.00945167, 25.83977106, 25.1139756 , 12.47691763, 29.01517242,
       39.41938246, 18.29541993, 36.90302129, 24.99308855, 15.17584108,
       30.9445863 , 28.33716443, 21.47468191, 22.28089751, 20.60921247,
       23.62849011, 28.35901671,  8.25226866, 25.92328745, 21.94703315,
       25.65833405, 18.28569493, 15.78472763, 25.55400647, 31.87480644,
       22.48951742, 25.63009181, 24.10779856, 39.47707474, 11.94640342,
       22.60808257, 14.63615029, 24.54931658, 29.12785044, 31.63053864,
       19.60913731,  9.57298558, 24.390546  , 16.62279777, 10.48341309,
       35.26030591, 23.22611377, -0.16403515, 34.07827805, 19.45068268,
        6.60605464, 16.3214672 , 24.26486475, 16.92596914, 19.60347888,
       14.69824947, 29.95848697, 17.81285124, 24.20274673, 23.85893241,
       25.74392211, 33.07693576, 30.27249622, 20.80270034, 19.71562023,
       17.11970317, 28.54965005, 15.8563432 , 33.30296131,  5.34905221,
       22.21092706, 17.82018203, 24.12283171, 20.39431822, 17.75379358,
       26.34495786, 18.52042399, 16.2060936 ,  9.96384109, 16.7562188 ,
       18.85986453, 21.96103201, 27.84048626,  8.7069856 , 23.04488066,
       20.44631254, 11.76079928, 17.38196123, 36.4704095 , 29.28242101,
       19.63938322, 25.10682029, 31.51540067, 25.02947902, 30.02043181,
       24.55668105, 22.36367291, 20.84995451, 21.00884343,  5.79492015,
       20.68149226, 25.77152724, 28.36892599, 30.48239245,  7.50180118,
       19.45439955, 20.27990391])

In [39]:
non_norm_model = LinearRegression(fit_intercept=False , normalize=False).fit(X_train,y_train).predict(X_test)

In [42]:
non_norm_model

array([32.61340199, 18.47259825, 17.69461337, -6.7085615 , 20.92627142,
       22.22382882, 42.64934455, 21.92124915, 13.89690425, 21.06257204,
       25.80747899, 30.61116666, 27.55457509, 11.09882636, 22.80673904,
       15.95135697, 37.2179477 , 16.04871278, 30.80153936, 31.97671958,
       35.15392229, 26.82265572, 19.85807872, 19.95885174, 24.39764047,
       25.00449768, 30.68663823, 20.34980831,  7.81896222, 20.81026779,
       19.21160386, 36.89678425, 40.70527473, 36.97727236, 22.27389339,
       13.0875059 , 22.84616429, 31.80561017, 43.42028321, 23.76971214,
       38.52890488, 21.79058627, 13.54559108, 22.45993528, 26.8674988 ,
       29.83041639, 19.11592721, 19.51792781, 33.81301591, 15.84460331,
       13.94206387, 14.08990553, 18.78306377, 33.15345664, 15.73763375,
       13.38261944, 21.74195032, 10.80125103, 17.49469922, 22.4645927 ,
       14.39423899, 20.68244575, 16.62857905, 34.95441378, 20.59217624,
       20.17654429, 25.14654974, 25.26094384, 13.33004649, 27.95597611,
       43.37068627, 17.42771329, 36.96831614, 26.08873185, 13.63426782,
       29.82216346, 27.47601192, 21.53665586, 23.33286946, 20.07934027,
       22.63177214, 28.4234734 ,  8.78729153, 25.58066652, 19.62291182,
       26.64873561, 16.82920417, 16.30017141, 24.10301153, 31.43350001,
       20.34526919, 25.35352908, 24.82449073, 38.60462501, 12.80839032,
       21.5445547 , 15.32331142, 23.95965028, 29.26574884, 31.26809672,
       19.00652302,  9.28424271, 23.56468212, 15.83763971, 10.898676  ,
       33.42562095, 21.20387043, -2.74113304, 32.71345673, 19.77893335,
        1.81803382, 16.32890635, 24.30916705, 17.86145163, 20.1560946 ,
       14.56946913, 29.36747385, 18.03966908, 24.56862732, 23.69670453,
       27.36580915, 32.469187  , 30.01879003, 21.40347862, 19.04707635,
       16.24520805, 28.72115652, 15.22947824, 33.0194454 ,  6.36810756,
       21.2896579 , 17.84573361, 23.20251454, 20.54896557, 17.20979275,
       25.42567237, 19.81022448, 17.68076436, 10.47866666, 17.86018837,
       18.2400807 , 20.97296775, 26.38328367,  9.00447346, 22.31023518,
       20.00452559, 12.67518979, 18.44093444, 37.59247873, 28.22670105,
       21.18299931, 26.55265423, 30.34769603, 25.20005054, 29.15359073,
       23.97260067, 22.98178764, 18.72803305, 21.60731016,  4.92020643,
       17.3714207 , 27.05724366, 27.12109966, 31.68177798,  8.15608114,
       19.27057092, 19.22034756])

# Desafío 4: Obtención de métricas

In [43]:
def report_scores(Y_test,predict):
    mse_modelo = mean_squared_error(Y_test, predict).round(1)
    r2_modelo = r2_score(Y_test,predict).round(1)
    print(mse_modelo,r2_modelo)

In [44]:
report_scores(y_test,norm_model)

31.3 0.6

In [45]:
report_scores(y_test,non_norm_model)

35.4 0.6

El modelo normalizado, tiene un mejor Promedio Error Cuadratico por lo cual es un mejor modelo

# Desafío 5: Refactorización del modelo

In [50]:
def fetch_features(df , vector = 'medv'):
    columns = df.columns
    attr_name,pearson_r,abs_pearson_r = [],[],[]

    for col in columns:
        if col != vector:
            attr_name.append(col)
            pearson_r.append(df[col].corr(df[vector]))
            abs_pearson_r.append(abs(df[col].corr(df[vector])))
    features = pd.DataFrame(
        {'attribute': attr_name,
        'corr': pearson_r,
        'abs_corr': abs_pearson_r}
    )   

    features = features.set_index('attribute')
    return features.sort_values(by=['abs_corr'], ascending =False)

In [51]:
fetch_features(df,'medv')

               corr  abs_corr
attribute
lstat     -0.737663  0.737663
rm         0.695360  0.695360
ptratio   -0.507787  0.507787
indus     -0.483725  0.483725
tax       -0.468536  0.468536
nox       -0.427321  0.427321
crim      -0.388305  0.388305
rad       -0.381626  0.381626
age       -0.376955  0.376955
zn         0.360445  0.360445
black      0.333461  0.333461
dis        0.249929  0.249929
chas       0.175260  0.175260

El modelo se ajusta bien con las variables, istat , rm ,ptratio,indus,tax,nox

# Desafío 6: Refactorización del modelo predictivo

In [53]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [59]:
df_opt = df.loc[:,['lstat','rm','ptratio','indus','tax','nox','medv']]

In [60]:
y_vec = df_opt['medv']
X_mat = df_opt.drop('medv', axis=1)

In [61]:
X_train, X_test , y_train , y_test = train_test_split(X_mat ,y_vec,test_size=.33 , random_state=553)

In [63]:
norm_model_opt = LinearRegression().fit(X_train,y_train).predict(X_test)

In [64]:
norm_model_opt

array([26.37863262, 11.18331235, 29.79466007, 26.86813327, 20.30257133,
       14.4590943 , 27.69365033, 27.58505116, 34.29875253, 17.70448631,
       12.60611427, 21.63913447, 19.26028303, 17.02209745, 34.88743797,
       24.92452573, 24.05780241, 12.91065287, 27.95799876, 24.83048992,
       27.58963296, 16.68852875, 42.43890933, 34.72846533, 19.23428291,
       31.18226155, 27.59934105, 20.56934517, 22.79598122, 30.02920031,
       29.88736225, 18.70973825, 22.74555563, 14.92894596, 12.34212188,
       30.93214538, 32.41503941, 24.98245636, 22.62842193, 28.84029878,
       19.33946212, 24.25844585, 21.56599567, 40.57192662, 22.63211442,
       32.94497282, 21.60586681, 25.88368355, 18.54290928, 21.00516146,
       30.07440719, 20.83055067, 37.88284119, 17.23995776, 27.62968267,
       25.16119883, 16.7678885 , 31.66223187, 20.59137704,  9.9627843 ,
       25.30967005, 27.7399966 , 31.9393584 , 30.73801441, 37.04893752,
       27.86762392, 16.54872191, 31.0015025 , 21.11968237, 22.69519818,
       17.45974804, 30.38532067, 16.84840749, 18.69104592, 30.71013006,
       19.33924798, 18.10956216, 22.45628729, 39.79517991, 31.91193628,
       25.35429504, 25.81555677, 23.37030319, 29.33663402, 37.99956595,
       14.78873564, 33.80039703, 27.42133714, 18.22568982, 12.00683847,
       19.90501833, 24.81346792, 18.45789039, 29.80430265, 15.85496664,
       26.52950487, 16.55062145,  3.63457828, 17.34205588, 24.00569647,
       22.88509124, 14.51522975, 30.56707759,  6.55000985, 19.38768509,
       17.10359042, 16.28598932, 25.17567053, 11.34300661, 18.67516333,
       21.82654609, 27.16316084, 32.50218556, 20.35613326, 17.28197008,
       16.30677429,  9.11980976, 34.73856029, 27.8399765 , 20.16903036,
       14.55296825, 23.83683887,  4.62178046, 20.40848587, 18.44136299,
       20.22288528, 35.71179848, 20.43403833, 17.36006226, 22.14105726,
       19.13559878, 23.78255527, 19.35882198, 21.10531817, 14.65834735,
       21.96413377, 39.16187104, 24.61180182, 25.55510989, 17.04376561,
       36.21916938, 28.04819134, 17.18744794, 23.96457477, 13.74874735,
        0.82559544,  1.70960923, 25.58739661, 20.27238442, 16.02116991,
       15.90546765, 21.1588432 , 19.78347288, 18.2611815 , 31.00700773,
       19.40986233, 18.88057242, 21.65961128, 18.59955771, 32.58689919,
       10.17054248, 30.44037888, 16.06751598, 19.31763842, 25.08514545,
       25.00462902, 28.13305183])

In [65]:
report_scores(y_test,norm_model_opt)

34.4 0.6