felipe-veloso.act-6

# Desafío 1: Generación de funciones

In [101]:
import numpy as np
import pandas as pd

In [102]:
df = pd.read_csv("worldcup2014.csv");

In [103]:
def media(x):
    '''funcion recive un vector, retorna su media'''
    return np.median(x)

In [104]:
def varianza(x):
    '''funcion recive un vector, retorna su varianza'''
    return (str(media(x)),str(np.var(x)))

In [105]:
varianza(df['goles_favor'])

('4.0', '5.1875')

In [106]:
varianza(df['goles_contra'])

('4.0', '4.8125')

In [107]:
varianza(df['puntos'])

('4.0', '8.0458984375')

# Desafío 2:

In [160]:
df_europe = df[df["continent"] == "europe"]
df_southamerica = df[df["continent"] == "southamerica"]
df_africa = df[df["continent"] == "africa"]
df_northamerica = df[df["continent"] == "northamerica"]
df_asia = df[df["continent"] == "asia"]
#if isinstance(x. pd.Series) is True:
# else: raise ValueError('error')

In [202]:
def desaf2(group , var):
    continent = []
    store_mean = []
    store_std = []
    cantidad = []

    for d in group:
        continent.append(d.iloc[0,1])
#        store_mean.append(media(d[var]))
#        store_std.append(varianza(d[var]))
        cantidad.append(d[var].sum())
        tmp = pd.DataFrame({'continente': continent,
                            var:cantidad})
    return tmp

In [204]:
desaf2([df_europe,df_southamerica,df_africa,df_northamerica,df_asia],"goles_favor")

     continente  goles_favor
0        europe           62
1  southamerica           34
2        africa           18
3  northamerica           13
4          asia            9

In [205]:
desaf2([df_europe,df_southamerica,df_africa,df_northamerica,df_asia],"goles_contra")

     continente  goles_contra
0        europe            52
1  southamerica            17
2        africa            28
3  northamerica            14
4          asia            25

In [206]:
desaf2([df_europe,df_southamerica,df_africa,df_northamerica,df_asia],"puntos")

     continente  puntos
0        europe      61
1  southamerica      41
2        africa      12
3  northamerica      18
4          asia       3

    continente con mayor cantidad de goles_favor = europe , goles_contra = europe , puntos = europe

# Desafío 3: Simulaciones

In [267]:
np.random.seed(2)

In [268]:
animales = ["gato","perro"]
def generatePet():
    #np.random.seed(2)
    return np.random.choice(animales)

In [269]:
generatePet()

'gato'

In [270]:
lista = []

for x in range(20):
    lista.append(generatePet())
lista

['perro',
 'perro',
 'gato',
 'gato',
 'perro',
 'gato',
 'perro',
 'gato',
 'perro',
 'gato',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'perro',
 'gato',
 'gato',
 'gato']

In [260]:
df['animales'] = pd.DataFrame(lista) 
df['animales'].value_counts('%')

gato     0.55
perro    0.45
Name: animales, dtype: float64

In [273]:
df['animales'] = pd.DataFrame(lista) 
df['animales'].value_counts('%')
# con seed(2)

perro    0.6
gato     0.4
Name: animales, dtype: float64

La linea np.random.seed(2) ofrece una seed de numeros seudo aleatorios, el cual ya es una seudo aleatoriedad conocida

# Desafío 4: Función simuladora

In [361]:
animales = ["gato","perro"]

def generatePet(x):
    np.random.seed(1)
    lista = []
    for i in range(x):
        lista.append(np.random.choice(animales))
    return lista

In [376]:
def simulate_pets_prob(x):
    count = 0
    young_pet = generatePet(x)
    old_pet = generatePet(x)
    perros = young_pet.count('perro') + old_pet.count('perro')
    print("resp1 " + str(perros/(x*2)))
    
    perros_viejos = old_pet.count('perro')
    print("resp2 " + (str(perros_viejos/(x*2))))
    
    #condicion en ambas listas ambas sean 
    for k,v in zip(young_pet,old_pet):
        if(k == 'perro' and k == v):
            count += 1
    print("resp3 " + str(count/(x*3)))
    return

In [377]:
simulate_pets_prob(10)

resp1 0.7
resp2 0.35
resp3 0.23333333333333334

Se verifica que el caso 1 es el mas probable y el caso 3 es el menos